<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<title>SuperShop2</title>
	<base href="/">

	<link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/vendor/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/main.css" />

	<script src="/js/vendor/angular.min.js"></script>
	<script src="/js/vendor/angular-route.min.js"></script>
    <script src="/js/vendor/angular-cookies.min.js"></script>
	<script src="/js/vendor/ui-bootstrap-tpls-0.13.4.min.js"></script>

	<script src="/js/app.js"></script>

	<script src="/js/controllers.js"></script>
	<script src="/js/dataProvider.js"></script>

	<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
	<script type="text/javascript" src="/js/vendor/angular-recaptcha.min.js"></script>
</head>
<body ng-app="app" ng-controller="MainController">

<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
			<li ><a href="/">Home</a></li>
			<li ng-if="!token"><a href="/login">Login</a></li>

			<li ng-if="user.kind == 'costumer'"><a href="/cart">Cart</a></li>
			<li ng-if="user.kind == 'costumer'"><a href="/orders">Orders</a></li>

			<li ng-if="user.kind == 'seller'"><a href="/seller/orders">Edit Orders</a></li>
			<li ng-if="user.kind == 'seller'"><a href="/seller/products">Edit Products</a></li>
			<li ng-if="user.kind == 'seller'"><a href="/seller/costumers">Edit Costumers</a></li>
			<li ng-if="user.kind == 'admin'"><a href="/admin/sellers">Edit Sellers</a></li>

			<li ><a ng-if="token" href="/edit">Account settings</a></li>
			<li ><a href="/" ng-if="token" ng-click="logout()">Logout</a></li>
			</li>
		</ul>
	</div>
	<!-- /#sidebar-wrapper -->

	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<ng-view></ng-view>
				</div>
			</div>
		</div>
	</div>

</body>
</html>