<div class="panel-group">
    <h2>Login</h2>

    <fieldset>
        <!-- Text input-->
        <div class="form-group">
            <label>Email</label><input ng-model="user.email" id="email" class="form-control input-sm" required type="email">
            <label>Password</label><input ng-model="user.password" id="password" class="form-control input-sm" required type="password">
        </div>

    </fieldset>
    <div>
        <button class="btn btn-primary" ng-click="login(user)">Login</button>
        <button class="btn btn-primary" ng-click="go('/register')">create new account</button>
    </div>
</div>