<div class="panel-group">
    <div ng-repeat="order in orders" class="panel panel-default">

        <p>Order id: {{order.order_id}}</p>

        <p>Date modified: {{order.date_modified}}</p>

        <ul class="list-group">
            <li ng-repeat="product in order.products" class="list-group-item">
                <h4>{{product.name}}</h4>

                <p>Quantity: {{product.number}}</p>

                <p>Price: {{product.price * product.number}} eur</p>
            </li>
        </ul>
    </div>
</div>
