<div class="panel-group">
    <div ng-repeat="item in items" class="panel panel-default">
        <p>Product id: {{item.product_id}}, {{user.active == 1 ? 'active' : 'in active'}}</p>

        <p>Name: {{item.name}}</p>

        <p>Description: {{item.description}}</p>

        <p>Price: {{item.price}}</p>

        <div class="btn btn-primary" ng-click="editItem(item)">Edit</div>
        <div class="btn btn-primary" ng-click="deleteItem(item)">Delete</div>
    </div>
    <h1><a class="btn btn-primary" href="/seller/products/edit">New product</a></h1>
</div>
