<div class="panel-group">
    <div ng-repeat="user in users" class="panel panel-default">
        <p>User id: {{user.user_id}}, {{user.active == 1 ? 'active' : 'in active'}}</p>
        <p>Name and surname: {{user.name}} {{user.lastname}}</p>
        <p>Email: {{user.email}}</p>
        <div class="btn btn-primary" ng-click="changeSellerActiveStatus(user, 'active')">Activate</div>
        <div class="btn btn-primary" ng-click="changeSellerActiveStatus(user, 'inactive')">De-activate</div>
        <div class="btn btn-primary" ng-click="editSeller(user)">Edit</div>
    </div>

    <h1><a class="btn btn-primary" ng-click="editSeller({})">New Seller</a></h1>
</div>