<div class="panel-group">
    <h2>Edit Product</h2>
        <div>
            <fieldset>
                <!-- Text input-->
                <div class="form-group">
                    <label>Name</label><input ng-model="item.name" placeholder="Name" class="form-control input-sm" required type="text">
                    <label>Description</label><input ng-model="item.description" id="description" placeholder="Description" class="form-control input-sm" required type="text">
                    <label>Price</label><input ng-model="item.price" id="price" placeholder="Price" class="form-control input-sm" required type="text">
                </div>
            </fieldset>
        </div>
        <div>
            <button class="btn btn-primary" ng-click="updateItem(item)">Save</button>
        </div>
</div>
